body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 35px 0;
  text-align: center;
}

.wrapper {
  padding-left: 50px;
  padding-right: 50px;

  @media (max-width: 1200px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
