@import '~normalize.css';

// FONTS
@import './fonts.scss';


// VARIABLES
$green: #45852D;
$black: #363636;
$white: #ffffff;

// INITIAL

@import 'base';

// FILES

@import 'components/cards';
@import 'components/search';
@import 'components/title';
@import 'components/button';




